@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Babies to tha DogO' Application</h1>
    <h1 class="display-5">Sit ya self down, welcome to tha app. We will Walk ya Dog....</h1>
    <h1 class="display-5">Don't worry bout it</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
